@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: Roboto, Verdana, sans-serif;
  font-size: 14px;
  color: #0f141e;
  background: #f1f1f1;
}

.card1 {
  border: 2px solid #336899;
  border-radius: 5px;
  padding-left: 20px;
  background: rgb(92, 163, 175);
}

.card2 {
  /* border: 2px solid #416f9b; 
  border-radius: 5px;*/
  padding-left: 20px;
}

.card3 {
  border: 2px solid #416f9b;
  border-radius: 5px;
  padding-left: 20px;
  background: rgb(160, 190, 243);
}

.card4 {
  /* border: 2px solid #416f9b; 
  border-radius: 5px;*/
  padding-left: 20px;
  color: darkgray;
}
  
